.screens {
  @include dims(100%, 100vh);
  margin-top: calc(-1 * var(--header-height));
  position: relative;

  .buttons {
    @include position(absolute, 50%, auto, auto, desktop-vw(300px));
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: desktop-vw(3px);
    transform: translateY(-50%);
    z-index: 10;

    @include mobile {
      @include position(absolute, desktop-vw(200px), auto, auto, 50%);
      column-gap: mobile-vw(3px);
      flex-direction: row;
      transform: translateX(-50%);
    }

    .button {
      @include dims(desktop-vw(32px));
      background-color: var(--nightly-woods);
      border-radius: desktop-vw(5px);
      color: var(--forested-juniper);
      transition: 300ms opacity ease;

      @include mobile {
        @include dims(mobile-vw(32px));
        border-radius: mobile-vw(5px);
      }

      &[disabled] {
        opacity: 0.3;
      }

      > .iconC {
        @include dims(desktop-vw(8px));

        @include mobile {
          @include dims(mobile-vw(8px));
        }
      }
    }
  }

  .form {
    @include dims(desktop-vw(500px));
    position: relative;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      @include dims(mobile-vw(340px), 100%);
    }

    .screen {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(100%, auto);
      transform: translate(-50%, -50%);

      @include mobile {
        align-items: center;
        display: flex;
        flex-direction: column;
      }

      .indicator {
        color: var(--nightly-woods);
        display: block;
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(15px);
        margin-bottom: desktop-vw(10px);

        @include mobile {
          font-size: mobile-vw(15px);
          margin-bottom: mobile-vw(10px);
          text-align: center;
        }
      }

      .question {
        color: var(--nightly-woods);
        display: block;
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(30px);
        line-height: 1.15;
        margin-bottom: desktop-vw(10px);
        width: 100%;

        @include mobile {
          font-size: mobile-vw(30px);
          margin-bottom: mobile-vw(10px);
          text-align: center;
        }
      }

      .description {
        color: var(--nightly-woods);
        display: block;
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(17px);
        line-height: 1.5;
        margin-bottom: desktop-vw(30px);

        @include mobile {
          font-size: mobile-vw(17px);
          margin-bottom: mobile-vw(30px);
          text-align: center;
        }
      }

      .action {
        column-gap: desktop-vw(20px);
        display: flex;
        margin-top: desktop-vw(30px);

        @include mobile {
          justify-content: center;
        }
      }
    }
  }

  .errorMessage {
    @include position(absolute, auto, auto, desktop-vw(100px), 50%);
    color: var(--error);
    opacity: 0;
    text-align: center;
    transform: translateX(-50%);
    transition: 400ms all ease;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.field {
  --input-padding: #{desktop-vw(16px)};
  column-gap: desktop-vw(8px);
  width: 100%;

  @include mobile {
    --input-padding: #{mobile-vw(16px)};
    column-gap: mobile-vw(8px);
  }

  .inputC {
    @include dims(100%, desktop-vw(45px));
    display: flex;
    position: relative;

    @include mobile {
      @include dims(100%, mobile-vw(45px));
      margin-bottom: mobile-vw(14px);
    }

    .label {
      @include position(absolute, 0, 0, 0, 0);
      align-items: center;
      background: var(--greening);
      border-radius: desktop-vw(45px);
      color: var(--nightly-woods);
      display: flex;
      flex: 1;
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(16px);
      font-weight: 400;
      overflow: hidden;
      padding: 0 desktop-vw(20px);

      @include mobile {
        border-radius: mobile-vw(45px);
        font-size: mobile-vw(16px);
        padding: 0 mobile-vw(16px);
      }
    }

    .input {
      border-bottom: 1px solid var(--nightly-woods);
      color: var(--nightly-woods);
      flex: 1;
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(17px);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(14px);
      }

      &::placeholder {
        opacity: 0.5;
        transition: 0.4s all ease;
      }

      &:focus {
        &::placeholder {
          opacity: 0.3;
        }
      }

      &[type="file"] {
        visibility: hidden;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--nightly-woods);
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    &.textarea {
      flex: 1;
      line-height: 1.5;
      resize: none;
      word-break: break-all;
    }

    &.required {
      box-shadow: red 0px 0px 0px 1px;
    }

    &.disabled {
      opacity: 0.1;
      pointer-events: none;
    }

    .resetBtn {
      @include position(absolute, 50%, desktop-vw(16px), auto, auto);
      color: var(--error);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(20px);
      font-weight: 700;
      opacity: 1;
      transition: 300ms all ease;
      transform: translateY(-50%);
      visibility: visible;

      @include mobile {
        @include position(absolute, 50%, mobile-vw(16px), auto, auto);
        font-size: mobile-vw(20px);
      }

      &[disabled] {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.submitBtn {
  color: var(--nightly-woods);
  font-family: var(--font-first-aid-kit-f);
  font-size: desktop-vw(30px);
  font-weight: 700;
  margin-top: desktop-vw(30px);

  @include mobile {
    font-size: mobile-vw(30px);
    margin-top: mobile-vw(30px);
  }
}
