.sliderCompanyDetail {
  @include position(absolute, 0, 0, 0, 0);
  align-items: center;
  display: flex;
  background-color: var(--white-transparent);
  justify-content: center;
  pointer-events: none;

  .btn {
    @include dims(desktop-vw(50px));
    pointer-events: auto;

    @include mobile {
      @include dims(mobile-vw(25px));
    }
  }
}
