.form {
  @include dims(100%, calc(100vh - var(--header-height)));
  position: relative;

  .start {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h1 {
      align-items: center;
      color: var(--nightly-woods);
      column-gap: desktop-vw(10px);
      display: flex;
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(24px);
      margin-bottom: desktop-vw(10px);

      @include mobile {
        column-gap: mobile-vw(10px);
        font-size: mobile-vw(20px);
        margin-bottom: mobile-vw(10px);
      }

      .iconC {
        @include dims(desktop-vw(12px));
        flex-shrink: 0;

        @include mobile {
          @include dims(mobile-vw(10px));
        }
      }
    }

    > .buttonC {
      margin-bottom: desktop-vw(20px);

      @include mobile {
        margin-bottom: mobile-vw(20px);
      }
    }

    > small {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(16px);
      margin-bottom: desktop-vw(50px);

      @include mobile {
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(50px);
      }
    }

    > .imgC {
      @include dims(desktop-vw(300px), auto);

      @include mobile {
        @include dims(mobile-vw(250px), auto);
      }
    }
  }

  .end {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > small {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(24px);
      margin-bottom: desktop-vw(10px);

      @include mobile {
        font-size: mobile-vw(20px);
        margin-bottom: mobile-vw(10px);
      }
    }

    > p {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(90px);
      margin-bottom: desktop-vw(20px);

      @include mobile {
        font-size: mobile-vw(80px);
        margin-bottom: mobile-vw(20px);
      }
    }
  }
}
