.button {
  color: var(--nightly-woods);
  display: inline-block;
  font-family: var(--font-first-aid-kit-f);
  font-weight: 700;
  position: relative;

  &.xs {
    font-size: desktop-vw(20px);

    &::before,
    &::after {
      @include dims(100%, 1px);
    }

    @include mobile {
      font-size: mobile-vw(30px);
    }
  }

  &.sm {
    font-size: desktop-vw(30px);

    &::before,
    &::after {
      @include dims(100%, 3px);
    }

    @include mobile {
      font-size: mobile-vw(30px);
    }
  }

  &.md {
    font-size: desktop-vw(45px);

    @include mobile {
      font-size: mobile-vw(35px);
    }
  }

  &.lg {
    font-size: desktop-vw(90px);

    @include mobile {
      font-size: mobile-vw(50px);
    }
  }

  &::before,
  &::after {
    content: "";
    @include position(absolute, auto, auto, -2px, 0);
    @include dims(100%, 3px);
    background: var(--nightly-woods);
    transform-origin: right;
    transform: scaleX(1) translateZ(0);
    transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
    will-change: transform;
  }

  &::before {
    transform-origin: left;
    transform: scaleX(0) translateZ(0);
    transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  @include hover {
    &:hover {
      &::after {
        transform: scaleX(0) translateZ(0);
        transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &::before {
        transform: scaleX(1) translateZ(0);
        transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
      }
    }
  }
}
