.sequence {
  @include dims(auto, desktop-vw(700px));
  margin-bottom: desktop-vw(-160px);
  margin-top: desktop-vw(-120px);
  position: relative;
  pointer-events: none;
  z-index: 10;

  @include mobile {
    @include dims(auto, mobile-vw(300px));
    margin-bottom: mobile-vw(-100px);
  }

  // @include outline(red);

  .container {
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(desktop-vw(800px));
    transform: translate(-50%, -50%);

    // @include outline(blue);

    @include mobile {
      @include dims(mobile-vw(300px));
    }

    .item {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(100%);
      transform: translate(-50%, -50%);
      z-index: 1000;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }
}
