.cardFloat {
  @include dims(100%);
  border-radius: desktop-vw(20px);
  padding: desktop-vw(50px) desktop-vw(40px);
  position: relative;

  > h5 {
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(40px);
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: desktop-vw(50px);
    text-align: start;
    text-transform: uppercase;
    width: desktop-vw(250px);

    &.lg {
      font-size: desktop-vw(90px);
      line-height: 1;
      margin-bottom: desktop-vw(30px);
      margin-top: desktop-vw(30px);
    }
  }

  > p {
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(25px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: desktop-vw(50px);
    text-align: start;
    width: desktop-vw(300px);
  }

  > .iconC {
    $distance: desktop-vw(-90px);
    @include dims(desktop-vw(180px));
    position: absolute;
    z-index: 100;

    &.tl {
      top: $distance;
      left: $distance;
    }

    &.tr {
      top: $distance;
      right: $distance;
    }

    &.bl {
      bottom: $distance;
      left: $distance;
    }

    &.br {
      bottom: $distance;
      right: $distance;
    }
  }
}
