.cardFloat {
  @include dims(100%);
  border-radius: desktop-vw(20px);
  padding: desktop-vw(50px) desktop-vw(40px);
  position: relative;

  @include mobile {
    border-radius: mobile-vw(20px);
    padding: mobile-vw(50px) mobile-vw(40px);
  }

  > h5 {
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(40px);
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: desktop-vw(50px);
    text-align: start;
    text-transform: uppercase;
    width: desktop-vw(250px);

    @include mobile {
      font-size: mobile-vw(40px);
      margin-bottom: mobile-vw(50px);
      width: auto;
    }

    &.lg {
      font-size: desktop-vw(90px);
      line-height: 1;
      margin-bottom: desktop-vw(30px);
      margin-top: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(60px);
        margin-bottom: mobile-vw(30px);
        margin-top: mobile-vw(30px);
      }
    }
  }

  > p {
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(25px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: desktop-vw(50px);
    text-align: start;
    width: desktop-vw(300px);

    @include mobile {
      font-size: mobile-vw(20px);
      margin-bottom: mobile-vw(50px);
      width: mobile-vw(200px);
    }
  }

  > .iconC {
    --distance: #{desktop-vw(-100px)};
    @include dims(desktop-vw(200px));
    position: absolute;
    z-index: 100;

    @include mobile {
      --distance: #{mobile-vw(10px)};
      @include dims(auto, mobile-vw(100px));
    }

    &.tl {
      top: var(--distance);
      left: var(--distance);
    }

    &.tr {
      top: var(--distance);
      right: var(--distance);
    }

    &.bl {
      bottom: var(--distance);
      left: var(--distance);
    }

    &.br {
      bottom: var(--distance);
      right: var(--distance);
    }

    &.tl,
    &.tr,
    &.bl,
    &.br {
      @include mobile {
        bottom: var(--distance);
        left: auto;
        right: var(--distance);
        top: auto;
      }
    }

    &.sm {
      // @include dims(desktop-vw(140px));
      transform: scale(0.9);

      @include mobile {
        transform: scale(1);
      }
    }

    &.md {
      // @include dims(desktop-vw(180px));
      transform: scale(1);

      @include mobile {
        transform: scale(1);
      }
    }

    &.lg {
      // @include dims(desktop-vw(220px));
      transform: scale(1.8);

      @include mobile {
        transform: scale(1);
      }
    }
  }
}
