.cardFloat {
  border-radius: desktop-vw(20px);
  padding: desktop-vw(50px) desktop-vw(40px);
  position: relative;

  > h5 {
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(40px);
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: desktop-vw(50px);
    text-align: start;
    text-transform: uppercase;
    width: desktop-vw(300px);

    &.lg {
      font-size: desktop-vw(90px);
    }
  }

  > p {
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(25px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: desktop-vw(50px);
    text-align: start;
    width: desktop-vw(300px);
  }

  > .iconC {
    @include dims(desktop-vw(200px));
    position: absolute;

    &.tl {
      top: desktop-vw(-100px);
      left: desktop-vw(-100px);
    }

    &.tr {
      top: desktop-vw(-100px);
      right: desktop-vw(-100px);
    }

    &.bl {
      bottom: desktop-vw(-100px);
      left: desktop-vw(-100px);
    }

    &.br {
      bottom: desktop-vw(-100px);
      right: desktop-vw(-100px);
    }
  }
}
