.cardCompanyDetail {
  @include dims(desktop-vw(720px), auto);
  background-color: var(--nightly-woods);
  border-radius: desktop-vw(20px);
  column-gap: desktop-vw(20px);
  display: flex;
  justify-items: flex-start;
  padding: desktop-vw(20px);
  position: relative;
  pointer-events: auto;

  @include mobile {
    @include dims(mobile-vw(350px), 95%);
    border-radius: mobile-vw(20px);
    row-gap: mobile-vw(10px);
    flex-direction: column;
    padding: mobile-vw(16px);
  }

  .close {
    @include position(absolute, desktop-vw(20px), desktop-vw(20px), auto, auto);
    @include dims(desktop-vw(15px));

    @include mobile {
      @include position(absolute, mobile-vw(15px), mobile-vw(15px), auto, auto);
      font-size: mobile-vw(25px);
    }
  }

  > .imgCC {
    @include dims(desktop-vw(300px), desktop-vw(300px));
    background: var(--greening);
    border-radius: desktop-vw(10px);
    flex-shrink: 0;
    overflow: hidden;

    @include mobile {
      @include dims(100%, mobile-vw(300px));
      border-radius: mobile-vw(10px);
      display: none;
    }

    .imgC {
      @include dims(desktop-vw(160px), auto);

      @include mobile {
        @include dims(100%, mobile-vw(300px));
        display: none;
      }
    }
  }

  > .info {
    @include dims(desktop-vw(435px), auto);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      @include dims(100%);
    }

    .title {
      color: var(--greening);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(40px);
      font-weight: 700;
      margin-bottom: desktop-vw(20px);
      text-transform: uppercase;

      @include mobile {
        font-size: mobile-vw(30px);
        margin-bottom: mobile-vw(10px);
      }
    }

    .desc {
      @include dims(desktop-vw(350px), desktop-vw(150px));
      color: var(--greening);
      display: flex;
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(16px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(20px);
      overflow-y: scroll;

      span {
        display: block;
        padding-right: desktop-vw(20px);
      }

      @include mobile {
        @include dims(auto, mobile-vw(450px));
        font-size: mobile-vw(14px);
      }
    }

    .iconC {
      @include dims(desktop-vw(30px));

      @include mobile {
        @include dims(mobile-vw(30px));
      }
    }
  }
}
