.loadingScreen {
  @include position(fixed, 0, 0, 0, 0);
  @include dims(100vw, 100vh);
  background: var(--forested-juniper);
  opacity: 0;
  pointer-events: none;
  z-index: z-index("loading-screen");
  transition: 1000ms opacity cubic-bezier(0.175, 0.885, 0.32, 1);

  &.loading {
    opacity: 1;
    pointer-events: auto;
  }
}
