.companies {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, desktop-vw(200px));
  gap: desktop-vw(12px);
  margin-bottom: desktop-vw(100px);

  @include mobile {
    grid-template-columns: repeat(2, mobile-vw(170px));
    gap: mobile-vw(12px);
    margin-bottom: mobile-vw(50px);
  }

  .boxC {
    $ease: 200ms transform var(--ease-out-quart);
    @include dims(100%, desktop-vw(130px));
    background-color: var(--alaskan-mist);
    border-radius: desktop-vw(10px);
    transition: $ease;

    @include mobile {
      @include dims(100%, mobile-vw(100px));
      border-radius: mobile-vw(10px);
    }

    > div {
      transition: $ease;
    }

    @include hover {
      &:hover {
        border: 1px solid var(--austrian-ice);
        transform: scale(0.9);

        > div {
          transform: scale(1.1);
        }
      }
    }
  }
}

.intro {
  margin-bottom: desktop-vw(150px);
  padding-top: var(--page-padding-top);

  @include mobile {
    margin: 0 var(--mobile-padding-x);
    margin-bottom: mobile-vw(100px);
  }

  > h1 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    position: relative;
    text-align: center;
    width: desktop-vw(900px);

    @include mobile {
      font-size: mobile-vw(42px);
      margin-bottom: mobile-vw(50px);
      width: auto;
    }

    > span {
      @include position(absolute, 0, desktop-vw(20px), auto, auto);
      @include dims(desktop-vw(230px), auto);
      display: inline-block;

      @include mobile {
        @include position(absolute, mobile-vw(50px), 0, auto, auto);
        @include dims(mobile-vw(100px), auto);
      }
    }
  }
}

.prior {
  margin-bottom: desktop-vw(150px);

  > h2 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(60px);
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: desktop-vw(75px);
    position: relative;
    text-align: center;

    @include mobile {
      font-size: mobile-vw(45px);
      margin-bottom: mobile-vw(50px);
      width: auto;
    }

    > span {
      @include position(absolute, 0, desktop-vw(100px), auto, auto);
      @include dims(desktop-vw(190px), auto);
      display: inline-block;
    }
  }
}

.toTheTeam {
  overflow: hidden;
  position: relative;

  > .imgC {
    &.left {
      @include position(absolute, desktop-vw(50px), auto, auto, desktop-vw(30px));
      @include dims(desktop-vw(500px));

      @include mobile {
        @include position(absolute, mobile-vw(100px), auto, auto, mobile-vw(-40px));
        @include dims(mobile-vw(160px));
      }
    }

    &.right {
      @include position(absolute, 50%, desktop-vw(160px), auto, auto);
      @include dims(desktop-vw(260px));
      transform: translateY(-50%);

      @include mobile {
        @include position(absolute, 50%, mobile-vw(4px), auto, auto);
        @include dims(mobile-vw(100px));
        transform: translateY(-120%);
      }
    }
  }
}

.slide {
  @include dims(100vw, 100vh);
  align-items: center;
  display: flex;
  justify-content: center;
}
