.companies {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, desktop-vw(200px));
  gap: desktop-vw(12px);
  margin-bottom: desktop-vw(100px);

  .boxC {
    $ease: 200ms transform var(--ease-out-quart);
    @include dims(100%, desktop-vw(130px));
    align-items: center;
    background-color: var(--alaskan-mist);
    border-radius: desktop-vw(10px);
    display: flex;
    justify-content: center;
    transition: $ease;

    > div {
      transition: $ease;
    }

    @include hover {
      &:hover {
        border: 1px solid var(--austrian-ice);
        transform: scale(0.9);

        > div {
          transform: scale(1.1);
        }
      }
    }
  }
}

.intro {
  margin-bottom: desktop-vw(150px);
  padding-top: var(--page-padding-top);

  > h1 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    position: relative;
    text-align: center;
    width: desktop-vw(900px);

    > span {
      @include position(absolute, 0, desktop-vw(20px), auto, auto);
      @include dims(desktop-vw(230px), auto);
      display: inline-block;
    }
  }
}

.prior {
  margin-bottom: desktop-vw(150px);

  > h2 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(60px);
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: desktop-vw(75px);
    position: relative;
    text-align: center;

    > span {
      @include position(absolute, 0, desktop-vw(100px), auto, auto);
      @include dims(desktop-vw(190px), auto);
      display: inline-block;
    }
  }
}

.toTheTeam {
  overflow: hidden;
  padding: desktop-vw(100px) 0;
  position: relative;

  > .imgC {
    &.left {
      @include position(absolute, desktop-vw(50px), auto, auto, desktop-vw(30px));
      @include dims(desktop-vw(500px));
    }

    &.right {
      @include position(absolute, 50%, desktop-vw(160px), auto, auto);
      @include dims(desktop-vw(260px));
      transform: translateY(-50%);
    }
  }

  > .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    small {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(25px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(10px);
    }
  }
}

.slide {
  @include dims(100vw, 100vh);
  align-items: center;
  display: flex;
  justify-content: center;
}
