.intro {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: desktop-vw(75px);
  overflow: hidden;
  padding-top: var(--page-padding-top);
  position: relative;
  z-index: 5;

  > h1 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(150px);
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
  }
}

.members {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, desktop-vw(340px));
  gap: desktop-vw(50px) desktop-vw(25px);
  justify-content: center;
  margin-bottom: desktop-vw(100px);
}

.achievements {
  margin-bottom: desktop-vw(50px);
  position: relative;

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, desktop-vw(360px));
    grid-template-rows: repeat(2, desktop-vw(275px));
    gap: desktop-vw(24px);
    justify-content: center;

    > div {
      background-color: var(--greening);
      border-radius: desktop-vw(20px);
      padding: desktop-vw(5px) desktop-vw(40px);

      &:nth-child(1) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(3) {
        grid-column: span 1;
        grid-row: span 2;
      }

      &:nth-child(4) {
        grid-column: span 2;
        grid-row: span 1;
      }

      > h5 {
        color: var(--nightly-woods);
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(150px);
        font-weight: 700;
        margin-bottom: desktop-vw(10px);

        > span {
          font-size: desktop-vw(120px);
        }
      }

      > p {
        color: var(--nightly-woods);
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(24px);
        font-weight: 400;
        line-height: 1.5;

        > span {
          font-weight: 700;
        }
      }
    }
  }

  .imgC {
    @include position(absolute, auto, desktop-vw(50px), desktop-vw(-150px), auto);
    @include dims(desktop-vw(400px), auto);
  }
}

.slide {
  @include dims(100vw, 100vh);
  align-items: center;
  display: flex;
  justify-content: center;
}
