.intro {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: desktop-vw(75px);
  overflow: hidden;
  padding-top: var(--page-padding-top);
  position: relative;
  z-index: 5;

  > h1 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(150px);
    font-weight: 700;
    margin: 0 auto;
    text-align: center;

    @include mobile {
      font-size: mobile-vw(100px);
    }
  }
}

.members {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, desktop-vw(340px));
  gap: desktop-vw(50px) desktop-vw(25px);
  justify-content: center;
  margin-bottom: desktop-vw(100px);

  @include mobile {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: mobile-vw(25px);
    margin-bottom: mobile-vw(50px);
    padding: 0 mobile-vw(28px);
  }
}

.achievements {
  margin-bottom: desktop-vw(50px);
  position: relative;

  @include mobile {
    margin: 0 var(--mobile-padding-x);
    margin-bottom: mobile-vw(50px);
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, desktop-vw(360px));
    grid-template-rows: repeat(2, desktop-vw(280px));
    gap: desktop-vw(24px);
    justify-content: center;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(4, mobile-vw(240px));
      gap: mobile-vw(12px);
    }

    > div {
      background-color: var(--greening);
      border-radius: desktop-vw(20px);
      padding: desktop-vw(5px) desktop-vw(40px);

      @include mobile {
        border-radius: mobile-vw(20px);
        padding: mobile-vw(20px) mobile-vw(16px);
      }

      &:nth-child(1) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(3) {
        grid-column: span 1;
        grid-row: span 2;

        @include mobile {
          grid-row: span 2;
          order: 4;
        }
      }

      &:nth-child(4) {
        grid-column: span 2;
        grid-row: span 1;

        @include mobile {
          grid-column: span 1;
          grid-row: span 1;
        }
      }

      > h5 {
        color: var(--nightly-woods);
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(150px);
        font-weight: 700;
        margin-bottom: desktop-vw(10px);

        @include mobile {
          font-size: mobile-vw(90px);
          margin-bottom: mobile-vw(10px);
        }

        > span {
          font-size: desktop-vw(120px);

          @include mobile {
            font-size: mobile-vw(72px);
          }
        }
      }

      > p {
        color: var(--nightly-woods);
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(24px);
        font-weight: 400;
        line-height: 1.5;

        @include mobile {
          font-size: mobile-vw(20px);
        }

        > span {
          font-weight: 700;
        }
      }
    }
  }

  .imgC {
    @include position(absolute, auto, desktop-vw(50px), desktop-vw(-50px), auto);
    @include dims(desktop-vw(300px), auto);

    @include mobile {
      @include position(absolute, auto, 0, mobile-vw(-100px), auto);
      @include dims(mobile-vw(160px), auto);
    }
  }
}

.modalSlide {
  @include dims(100vw, 100vh);
  align-items: center;
  display: flex;
  justify-content: center;
}
