.intro {
  column-gap: desktop-vw(22px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  padding: desktop-vw(25px) desktop-vw(40px);

  &::before {
    content: "";
    @include position(absolute, 0, 0, auto, 50%);
    @include dims(calc(100% - desktop-vw(80px)), 1px);
    background: var(--black);
    transform: translateX(-50%);
  }

  .info {
    align-items: flex-start;
    color: var(--nightly-woods);
    display: flex;
    flex-direction: column;
    font-family: var(--font-first-aid-kit-f);
    grid-column: 6 / 13;
    margin-bottom: desktop-vw(40px);

    @include mobile {
      grid-column: 1 / 13;
      align-items: center;
    }

    > .breadcrumb {
      margin-bottom: desktop-vw(100px);

      @include mobile {
        margin-bottom: mobile-vw(10px);
        margin-top: mobile-vw(30px);
      }

      small {
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(20px);
        font-weight: 700;
        text-transform: uppercase;

        @include mobile {
          font-size: mobile-vw(24px);

          &:nth-child(2),
          &:nth-child(3) {
            display: none;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          opacity: 0.3;
        }
      }
    }

    > .date {
      display: block;
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(15px);
      font-weight: 400;
      margin-bottom: desktop-vw(10px);

      @include mobile {
        font-size: mobile-vw(15px);
        margin-bottom: mobile-vw(50px);
        order: 2;
      }
    }

    > .title {
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(40px);
      font-weight: 700;
      margin-bottom: desktop-vw(40px);
      text-transform: uppercase;

      @include mobile {
        font-size: mobile-vw(40px);
        line-height: 1.15;
        margin-bottom: mobile-vw(20px);
        order: 1;
        text-align: center;
      }
    }

    > .actions {
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        @include dims(100%, auto);
        row-gap: mobile-vw(10px);
        order: 2;
        padding: 0 var(--mobile-padding-x);
      }

      .readingTime {
        align-items: center;
        color: var(--nightly-woods);
        column-gap: desktop-vw(10px);
        display: flex;
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(15px);
        font-weight: 400;
        margin-right: desktop-vw(120px);

        @include mobile {
          column-gap: mobile-vw(10px);
          font-size: mobile-vw(15px);
          margin-right: 0;
        }

        .iconC {
          @include dims(desktop-vw(22px));

          @include mobile {
            @include dims(mobile-vw(22px));
          }
        }
      }

      .social {
        display: flex;
        column-gap: desktop-vw(20px);
        flex-shrink: 0;
        margin-left: auto;

        @include mobile {
          column-gap: mobile-vw(20px);
          margin-left: 0;
        }

        .iconC {
          @include dims(desktop-vw(14px));
          position: relative;
          pointer-events: auto;

          @include mobile {
            @include dims(mobile-vw(15px));
          }

          .copied {
            @include position(absolute, 0, 0, auto, auto);
            align-items: center;
            background: var(--nightly-woods);
            border-radius: desktop-vw(10px) desktop-vw(10px) desktop-vw(10px) desktop-vw(3px);
            color: var(--forested-juniper);
            display: flex;
            font-family: var(--font-helvetica-neue);
            font-size: desktop-vw(11px);
            justify-content: center;
            opacity: 0;
            padding: desktop-vw(5px) desktop-vw(7px) desktop-vw(4px) desktop-vw(7px);
            transform: translate(100%, -130%);
            transition: 300ms all ease;
            visibility: hidden;
            white-space: nowrap;

            @include mobile {
              border-radius: mobile-vw(10px) mobile-vw(10px) mobile-vw(10px) mobile-vw(3px);
              font-size: mobile-vw(11px);
              padding: mobile-vw(5px) mobile-vw(7px) mobile-vw(4px) mobile-vw(7px);
            }

            &.visible {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.bannerC {
  @include dims(auto, desktop-vw(500px));
  background: var(--alaskan-mist);
  border-radius: desktop-vw(20px);
  grid-column: 1/13;
  overflow: hidden;

  @include mobile {
    @include dims(auto, mobile-vw(200px));
    border-radius: mobile-vw(10px);
  }
}

.postBody {
  margin-bottom: desktop-vw(100px);
  padding: 0 desktop-vw(40px);

  @include mobile {
    margin-bottom: mobile-vw(30px);
  }
}

.marquee {
  display: block;
  margin-bottom: desktop-vw(50px);

  @include mobile {
    margin-bottom: mobile-vw(30px);
  }

  h5 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(250px);
    font-weight: 700;
    margin: 0 desktop-vw(60px);

    @include mobile {
      font-size: mobile-vw(75px);
      margin: 0 mobile-vw(30px);
    }
  }

  .iconC {
    @include dims(desktop-vw(300px), auto);

    @include mobile {
      @include dims(mobile-vw(100px), auto);
    }
  }
}
