.intro {
  margin-bottom: desktop-vw(50px);
  padding-top: var(--page-padding-top);

  > h1 {
    @include dims(desktop-vw(1270px), auto);
    color: var(--nightly-woods);
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(40px);
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    text-align: center;

    span {
      display: block;
      margin-bottom: desktop-vw(50px);
    }

    strong {
      font-weight: 700;
    }
  }

  > .imgC {
    @include dims(desktop-vw(1400px), desktop-vw(615px));
    border-radius: desktop-vw(30px);
    margin: 0 auto;
    margin-bottom: desktop-vw(20px);
    overflow: hidden;
  }
}

.manifesto {
  color: var(--nightly-woods);

  > .marquee {
    margin-bottom: desktop-vw(150px);

    h5 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(150px);
      font-weight: 700;
      margin: 0 desktop-vw(60px);
    }
  }

  > h3 {
    @include dims(desktop-vw(800px), auto);
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(40px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: desktop-vw(100px);
    text-align: center;
  }

  > .long {
    p {
      @include dims(desktop-vw(900px), auto);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(20px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(50px);
    }

    .punch {
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(30px);
      font-weight: 400;
      line-height: 1.5;
    }
  }

  > .tldr {
    display: grid;
    grid-template-columns: repeat(2, desktop-vw(360px));
    grid-template-rows: repeat(4, desktop-vw(360px));
    padding-bottom: desktop-vw(100px);

    > div {
      @include dims(100%);

      &:nth-child(2n) {
        transform: translateY(100px);
      }

      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          margin-top: 1.2 * pow($i, 2) + px;
        }
      }
    }
  }
}

// .chamaeleonPop {
//   > .imgC {
//     @include dims(desktop-vw(700px));
//     margin: 0 auto;
//     margin-bottom: desktop-vw(-300px);
//   }
// }

.ourValues {
  background: var(--greening);
  margin-bottom: desktop-vw(225px);
  overflow: hidden;
  padding: desktop-vw(120px) 0;

  > h2 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(150px);
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
  }

  > .values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: desktop-vw(150px);
    position: relative;
    z-index: 10;

    .progressLine {
      @include position(absolute, 0, auto, auto, 50%);
      @include dims(1px, 100%);
      background-color: var(--nightly-woods);
      transform: translateX(-50%);
      transform: scaleY(0);
      transform-origin: top center;
    }

    .item {
      @include dims(desktop-vw(340px), auto);
      margin: 0 desktop-vw(80px);

      &:nth-child(2n + 1) {
        margin-top: desktop-vw(100px);
      }

      h5 {
        color: var(--nightly-woods);
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(30px);
        font-weight: 700;
        margin: 0 auto;
        margin-bottom: desktop-vw(20px);
        text-transform: uppercase;
      }

      p {
        color: var(--nightly-woods);
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(17px);
        font-weight: 400;
        line-height: 1.5;
        margin: 0 auto;
        margin-bottom: desktop-vw(70px);
      }
    }
  }

  > .cactusC {
    @include dims(100%, desktop-vw(500px));
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    margin: desktop-vw(-200px) 0;
    padding: 0 desktop-vw(100px);

    .imgC {
      &:nth-child(1) {
        @include dims(desktop-vw(500px));
        margin-bottom: desktop-vw(-50px);
      }

      &:nth-child(2) {
        @include dims(desktop-vw(300px));
        margin-bottom: desktop-vw(20px);
      }

      &:nth-child(3) {
        @include dims(desktop-vw(200px));
        margin-bottom: desktop-vw(40px);
      }
    }
  }

  > .imgC {
    @include position(absolute, auto, 0, desktop-vw(25px), auto);
    @include dims(desktop-vw(420px));
  }
}

.stickyBtn {
  $distance: desktop-vw(4px);
  @include position(fixed, auto, auto, 1.5%, 50%);
  @include dims(desktop-vw(260px), calc(desktop-vw(60px) - $distance));
  border-radius: desktop-vw(45px);
  color: var(--nightly-woods);
  display: grid;
  font-family: var(--font-first-aid-kit-f);
  font-size: desktop-vw(30px);
  grid-template-columns: repeat(2, 1fr);
  transform: translateX(-50%);
  z-index: z-index("sticky");

  opacity: 0;
  visibility: hidden;

  &::before {
    content: "";
    @include position(absolute, -$distance, -$distance, -$distance, -$distance);
    background-color: var(--greening);
    border-radius: desktop-vw(45px);
  }

  &::after {
    content: "";
    @include position(absolute, 50%, auto, auto, 0);
    @include dims(50%, 100%);
    background-color: var(--forested-juniper);
    border-radius: desktop-vw(45px);
    transform: translate(0, -50%);
    transition: 400ms transform ease;
  }

  &.long {
    &::after {
      transform: translate(100%, -50%);
    }
  }

  &.tldr {
    &::after {
      transform: translate(0, -50%);
    }
  }

  > div {
    z-index: 10;
  }
}
