.intro {
  padding-top: var(--page-padding-top);

  @include mobile {
    margin: 0 var(--mobile-padding-x);
  }

  > h1 {
    @include dims(desktop-vw(1270px), auto);
    color: var(--nightly-woods);
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(32px);
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    text-align: center;
    width: desktop-vw(1100px);

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(20px);
      margin-bottom: mobile-vw(50px);
      width: auto;
    }

    span {
      display: block;
      margin-bottom: desktop-vw(50px);
    }

    strong {
      font-weight: 700;
    }
  }

  > .imgC {
    @include dims(desktop-vw(1400px), desktop-vw(615px));
    border-radius: desktop-vw(30px);
    margin: 0 auto;
    overflow: hidden;

    @include mobile {
      @include dims(100%, mobile-vw(200px));
      border-radius: mobile-vw(12px);
    }
  }
}
