.footer {
  background-color: var(--nightly-woods);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: z-index("footer");

  .top {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    margin-bottom: desktop-vw(100px);
    padding: 0 desktop-vw(40px);

    > div {
      &:nth-child(1) {
        margin-top: auto;
      }

      &:nth-child(2) {
        .copyright {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    small {
      color: var(--forested-juniper);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(15px);
      line-height: 1.5;
      margin-bottom: desktop-vw(10px);
    }

    nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: desktop-vw(150px);
      margin-top: desktop-vw(50px);

      .navItem {
        color: var(--forested-juniper);
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(15px);
        margin-bottom: desktop-vw(15px);
      }
    }
  }

  h6 {
    color: var(--forested-juniper);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(150px);
    font-weight: 700;
    margin-bottom: desktop-vw(30px);
    text-align: center;

    span {
      font-family: var(--font-helvetica-neue);
    }
  }

  .social {
    align-items: center;
    column-gap: desktop-vw(20px);
    display: flex;
    padding: desktop-vw(50px) desktop-vw(40px);

    .iconC {
      @include dims(desktop-vw(20px), desktop-vw(15px));
      display: block;
    }
  }

  .imgC {
    @include position(absolute, auto, desktop-vw(50px), 0, auto);
    @include dims(desktop-vw(720px), desktop-vw(215px));
  }
}
