.footer {
  background-color: var(--nightly-woods);
  position: relative;
  z-index: z-index("footer");

  display: flex;
  flex-direction: column;

  nav {
    column-gap: desktop-vw(100px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: auto;
    margin-left: auto;
    padding: desktop-vw(40px);

    .navItem {
      color: var(--forested-juniper);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(15px);
      margin-bottom: desktop-vw(10px);
    }
  }

  .copyright {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: desktop-vw(80px) desktop-vw(40px);

    > small {
      color: var(--forested-juniper);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(15px);
      line-height: 1.5;
      margin-bottom: desktop-vw(10px);
    }
  }

  h6 {
    color: var(--forested-juniper);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(150px);
    font-weight: 700;
    text-align: center;

    span {
      font-family: var(--font-helvetica-neue);
    }
  }

  .social {
    align-items: flex-start;
    column-gap: desktop-vw(20px);
    display: flex;
    padding: desktop-vw(150px) desktop-vw(40px) desktop-vw(50px) desktop-vw(40px);

    .iconC {
      @include dims(desktop-vw(15px));
      display: block;
    }
  }

  .imgC {
    @include position(absolute, auto, desktop-vw(100px), 0, auto);
    @include dims(desktop-vw(720px), desktop-vw(215px));
  }
}
