.intro {
  margin-bottom: desktop-vw(150px);
  padding-top: var(--page-padding-top);

  > h1 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.1;
    margin: 0 auto;
    margin-bottom: desktop-vw(300px);
    text-align: center;
    width: desktop-vw(1000px);

    @include mobile {
      font-size: mobile-vw(50px);
      margin-bottom: mobile-vw(100px);
      width: auto;
    }
  }
}

.earth {
  align-items: center;
  background: var(--nightly-woods);
  display: flex;
  flex-direction: column;
  margin-bottom: desktop-vw(300px);
  position: relative;

  @include mobile {
    margin-bottom: mobile-vw(200px);
    padding: 0 var(--mobile-padding-x);
  }

  > .imgs {
    align-items: flex-end;
    display: flex;
    margin: 0 auto;
    margin-top: desktop-vw(-150px);

    .transform {
      &:nth-child(1) {
        margin-right: desktop-vw(-50px);
        transform: rotate(-6deg);
        z-index: 10;
      }

      &:nth-child(2) {
        margin-bottom: desktop-vw(50px);
        transform: rotate(8deg);
        z-index: 5;
      }
    }

    .imgC {
      @include dims(desktop-vw(440px), desktop-vw(520px));
      border-radius: desktop-vw(20px);
      overflow: hidden;

      @include mobile {
        @include dims(mobile-vw(160px), mobile-vw(200px));
        border-radius: mobile-vw(12px);
      }
    }
  }

  > h2 {
    color: var(--forested-juniper);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(75px);
    text-align: center;
    width: desktop-vw(850px);

    @include mobile {
      font-size: mobile-vw(50px);
      margin-bottom: mobile-vw(75px);
      width: auto;
    }
  }

  > .values {
    column-gap: desktop-vw(50px);
    display: grid;
    grid-template-columns: repeat(3, desktop-vw(320px));
    padding-bottom: desktop-vw(100px);
    align-items: flex-end;

    @include mobile {
      column-gap: unset;
      grid-template-columns: repeat(1, 100%);
      padding: 0 var(--mobile-padding-x);
      padding-bottom: mobile-vw(100px);
    }

    > div {
      text-align: center;

      @include mobile {
        margin-bottom: mobile-vw(50px);
      }

      &:nth-child(2) {
        padding-bottom: desktop-vw(200px);

        @include mobile {
          padding-bottom: 0;
        }
      }

      > h3 {
        color: var(--forested-juniper);
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(60px);
        font-weight: 700;
        margin-bottom: desktop-vw(20px);

        @include mobile {
          font-size: mobile-vw(45px);
          margin-bottom: mobile-vw(20px);
        }
      }

      > p {
        color: var(--forested-juniper);
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(25px);
        font-weight: 400;
        line-height: 1.5;

        @include mobile {
          font-size: mobile-vw(20px);
        }
      }
    }
  }

  > .imgC {
    @include position(absolute, 100%, auto, auto, 50%);
    @include dims(desktop-vw(400px));
    transform: translate(-50%, -50%);

    @include mobile {
      @include dims(mobile-vw(250px));
    }
  }
}

.conditions {
  display: flex;
  flex-direction: column;
  margin-bottom: desktop-vw(100px);

  @include mobile {
    margin-bottom: mobile-vw(15px);
    padding: 0 var(--mobile-padding-x);
  }

  > h2 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    position: relative;
    text-align: center;
    width: desktop-vw(700px);

    @include mobile {
      font-size: mobile-vw(60px);
      margin-bottom: mobile-vw(50px);
      width: 100%;
    }
  }

  > .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: desktop-vw(1000px);

    @include mobile {
      row-gap: mobile-vw(16px);
      width: 100%;
    }

    > div {
      @include dims(desktop-vw(440px), desktop-vw(500px));

      @include mobile {
        @include dims(100%, auto);
      }

      &:nth-child(1) {
        transform: rotate(-6deg);
        z-index: 1;

        @include mobile {
          margin: 0;
          transform: rotate(0deg);
        }
      }

      &:nth-child(2) {
        margin-left: desktop-vw(-50px);
        margin-top: desktop-vw(50px);
        transform: rotate(5deg);
        z-index: 3;

        @include mobile {
          margin: 0;
          transform: rotate(0deg);
        }
      }

      &:nth-child(3) {
        margin-top: desktop-vw(-100px);
        transform: rotate(-9deg);
        z-index: 2;

        @include mobile {
          margin: 0;
          transform: rotate(0deg);
        }
      }
    }
  }
}
