.intro {
  margin-bottom: desktop-vw(150px);
  padding-top: var(--page-padding-top);

  > h1 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(350px);
    text-align: center;
    width: desktop-vw(1000px);
  }
}

.earth {
  background: var(--nightly-woods);
  margin-bottom: desktop-vw(300px);
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  > .imgs {
    align-items: flex-end;
    display: flex;
    margin: 0 auto;
    margin-bottom: desktop-vw(60px);
    margin-top: desktop-vw(-300px);

    .imgC {
      @include dims(desktop-vw(440px), desktop-vw(520px));
      border-radius: desktop-vw(20px);
      overflow: hidden;

      &:nth-child(1) {
        transform: rotate(-6deg);
        z-index: 10;
      }

      &:nth-child(2) {
        margin-bottom: desktop-vw(100px);
        transform: rotate(8deg);
        z-index: 5;
      }
    }
  }

  > h2 {
    color: var(--forested-juniper);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(75px);
    text-align: center;
    width: desktop-vw(850px);
  }

  > .values {
    column-gap: desktop-vw(50px);
    display: grid;
    grid-template-columns: repeat(3, desktop-vw(320px));
    padding-bottom: desktop-vw(100px);
    align-items: flex-end;

    > div {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;

      &:nth-child(2) {
        padding-bottom: desktop-vw(200px);
      }

      > h3 {
        color: var(--forested-juniper);
        font-family: var(--font-first-aid-kit-f);
        font-size: desktop-vw(60px);
        font-weight: 700;
        margin-bottom: desktop-vw(20px);
      }

      > p {
        color: var(--forested-juniper);
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(25px);
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }

  > .imgC {
    @include position(absolute, 100%, auto, auto, 50%);
    @include dims(desktop-vw(400px));
    transform: translate(-50%, -50%);
  }
}

.conditions {
  > h2 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    position: relative;
    text-align: center;
    width: desktop-vw(900px);
  }

  > .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: desktop-vw(1000px);
  }
}

.table {
  > h2 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(80px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    position: relative;
    text-align: center;
    width: desktop-vw(900px);
  }

  .grid {
    display: flex;
    justify-content: center;
    margin-bottom: desktop-vw(100px);
    position: relative;

    .lineV {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(1px, 100%);
      background: var(--nightly-woods);
      transform: translate(-50%, -50%);
    }

    .lineH {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(100%, 1px);
      background: var(--nightly-woods);
      transform: translate(-50%, -50%);
    }

    .dot {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(22px);
      background: var(--electric-energy);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    .items {
      display: grid;
      grid-template-columns: repeat(2, desktop-vw(630px));
      grid-template-rows: repeat(2, desktop-vw(300px));

      > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        > h3 {
          color: var(--nightly-woods);
          font-family: var(--font-first-aid-kit-f);
          font-size: desktop-vw(40px);
          font-weight: 700;
          margin-bottom: desktop-vw(20px);
        }

        > p {
          color: var(--nightly-woods);
          font-family: var(--font-helvetica-neue);
          font-size: desktop-vw(20px);
          font-weight: 400;
          line-height: 1.5;
          width: desktop-vw(360px);
        }
      }
    }
  }
}

.lookFor {
  background: var(--electric-energy);
  padding: desktop-vw(200px) 0;
  align-items: center;
  display: flex;
  flex-direction: column;

  > h4 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(180px);
    font-weight: 700;
    line-height: 0.9;
    margin: 0 auto;
    margin-bottom: desktop-vw(100px);
    text-align: center;
    transform: rotate(-6deg);

    span {
      font-family: var(--font-helvetica-neue);
    }
  }

  > .cards {
    display: grid;
    grid-template-columns: repeat(2, desktop-vw(430px));
    grid-template-rows: repeat(2, desktop-vw(460px));

    > div {
      &:nth-child(2n) {
        margin-bottom: desktop-vw(-100px);
      }
    }
  }
}
