.intro {
  align-items: center;
  background-color: var(--forestial);
  display: flex;
  height: desktop-vw(615px);
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  z-index: 5;
  padding: desktop-vw(30px);

  > h1 {
    color: var(--forested-juniper);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(140px);
    font-weight: 700;
    margin-bottom: desktop-vw(100px);
  }

  > .imgC {
    @include dims(desktop-vw(320px));
    margin-left: desktop-vw(150px);
    margin-top: desktop-vw(200px);
  }
}

.whoWeAre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: desktop-vw(100px);
  position: relative;
  z-index: 10;

  .coins {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: desktop-vw(100px);
    margin-top: desktop-vw(-100px);

    .imgC {
      &:nth-child(1) {
        @include dims(desktop-vw(260px), auto);
        margin-left: desktop-vw(100px);
      }

      &:nth-child(2) {
        @include dims(desktop-vw(150px), auto);
        margin-right: desktop-vw(200px);
        margin-top: desktop-vw(-50px);
      }

      &:nth-child(3) {
        @include dims(desktop-vw(145px), auto);
        margin-left: desktop-vw(100px);
        margin-top: desktop-vw(-50px);
      }

      &:nth-child(4) {
        @include dims(desktop-vw(130px), auto);
        margin-right: desktop-vw(100px);
        margin-top: desktop-vw(-50px);
      }
    }
  }

  .text {
    padding: desktop-vw(90px) 0;

    > h2 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(25px);
      font-weight: 700;
      margin-bottom: desktop-vw(30px);
    }

    > h3 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(70px);
      font-weight: 700;
      width: desktop-vw(660px);
      margin-bottom: desktop-vw(30px);
    }

    > p {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(17px);
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: desktop-vw(50px);
      width: desktop-vw(490px);
    }
  }
}

.companiesMarquee {
  margin: desktop-vw(50px) 0;

  .logoC {
    @include dims(desktop-vw(115px), auto);
    margin: 0 desktop-vw(50px);
  }
}

.ourPortfolio {
  background: var(--greening);
  margin-bottom: desktop-vw(300px);
  padding: desktop-vw(115px) desktop-vw(70px);

  > h3 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(100px);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: desktop-vw(100px);
    width: desktop-vw(1150px);

    .forestial {
      color: var(--forestial);
    }

    .a,
    .b {
      display: inline-block;
      position: relative;

      .imgC {
        z-index: 100;
      }
    }

    .a {
      $width: desktop-vw(200px);
      width: $width;

      .imgC {
        @include position(absolute, 50%, auto, auto, 0);
        @include dims($width, auto);
        transform: translate(0%, -60%);
      }
    }

    .b {
      $width: desktop-vw(240px);
      width: $width;

      .imgC {
        @include position(absolute, 50%, 0, auto, auto);
        @include dims($width, auto);
        transform: translate(0%, -55%);
      }
    }
  }

  .imgs {
    align-items: center;
    display: flex;
    margin-bottom: desktop-vw(-150px);
    margin-top: desktop-vw(50px);
    justify-content: space-between;

    > .imgC {
      overflow: hidden;
      border-radius: desktop-vw(9px);

      &:nth-child(1) {
        @include dims(desktop-vw(540px), auto);
        margin-bottom: desktop-vw(-400px);
      }

      &:nth-child(2) {
        @include dims(desktop-vw(670px), auto);
      }
    }
  }
}

.kinCommunity {
  padding: desktop-vw(80px);

  > h4 {
    border-bottom: 2px solid var(--nightly-woods);
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(45px);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: desktop-vw(30px);
  }

  > p {
    color: var(--nightly-woods);
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(40px);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: desktop-vw(100px);

    span {
      font-weight: 700;
    }
  }

  > .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    small {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(25px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(10px);
    }
  }
}
