.intro {
  margin-bottom: desktop-vw(20px);
  position: relative;
  z-index: 5;

  @include mobile {
    margin-bottom: mobile-vw(20px);
  }

  > .content {
    @include dims(auto, desktop-vw(640px));
    align-items: flex-start;
    background-color: var(--forestial);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: desktop-vw(30px);
    position: relative;

    @include mobile {
      @include dims(auto, mobile-vw(360px));
      align-items: center;
      padding: mobile-vw(30px);
    }

    h1 {
      color: var(--forested-juniper);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(160px);
      font-weight: 700;
      line-height: 0.9;
      margin-bottom: desktop-vw(10px);

      @include mobile {
        font-size: mobile-vw(70px);
        margin-bottom: mobile-vw(10px);
        margin-top: mobile-vw(30px);
        text-align: center;
      }
    }

    h2 {
      color: var(--forested-juniper);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(17px);
      font-weight: 400;
      line-height: 0.9;
      margin-bottom: desktop-vw(100px);

      @include mobile {
        font-size: mobile-vw(14px);
        margin-bottom: mobile-vw(175px);
        text-align: center;
      }
    }
  }

  > .imgC {
    @include position(absolute, auto, desktop-vw(210px), desktop-vw(-100px), auto);
    @include dims(desktop-vw(400px));
    transform: rotate(-12deg);

    @include mobile {
      @include position(absolute, auto, auto, mobile-vw(-75px), 50%);
      @include dims(mobile-vw(225px));
      transform: translateX(-50%) rotate(-12deg);
    }
  }
}

.manifesto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: desktop-vw(-100px);
  position: relative;
  z-index: 10;

  @include mobile {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    margin-bottom: mobile-vw(75px);
  }

  > .rocket {
    margin-left: desktop-vw(100px);
    margin-top: desktop-vw(100px);

    @include mobile {
      margin: 0 auto;
      margin-top: mobile-vw(100px);

      display: none;
    }

    .imgC {
      @include dims(desktop-vw(420px), auto);
      margin-left: desktop-vw(100px);

      @include mobile {
        @include dims(mobile-vw(320px), auto);
        margin: 0 auto;
      }
    }
  }

  > .text {
    padding-top: desktop-vw(100px);

    @include mobile {
      margin: 0 mobile-vw(16px);
      padding-top: mobile-vw(75px);
      text-align: center;
    }

    > h2 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(25px);
      font-weight: 700;
      margin-bottom: desktop-vw(25px);

      @include mobile {
        font-size: mobile-vw(25px);
        margin-bottom: mobile-vw(25px);
      }
    }

    > h3 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(70px);
      font-weight: 700;
      margin-bottom: desktop-vw(40px);
      width: desktop-vw(670px);

      @include mobile {
        font-size: mobile-vw(40px);
        margin-bottom: mobile-vw(40px);
        width: auto;
      }
    }

    > p {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(17px);
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: desktop-vw(50px);
      width: desktop-vw(490px);

      @include mobile {
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(50px);
        width: auto;
      }
    }
  }
}

.investments {
  margin: desktop-vw(50px) 0;

  @include mobile {
    margin: mobile-vw(30px) 0;
  }

  .logoC {
    @include dims(desktop-vw(115px), desktop-vw(50px));
    margin: 0 desktop-vw(50px);

    @include mobile {
      @include dims(mobile-vw(115px), mobile-vw(50px));
      margin: 0 mobile-vw(35px);
    }
  }
}

.portfolio {
  align-items: center;
  background: var(--greening);
  display: flex;
  flex-direction: column;
  margin-bottom: desktop-vw(450px);
  padding: desktop-vw(115px) desktop-vw(70px);
  position: relative;

  @include mobile {
    margin-bottom: mobile-vw(150px);
    padding: mobile-vw(50px) mobile-vw(12px) mobile-vw(12px) mobile-vw(12px);
  }

  > h3 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(100px);
    font-weight: 700;
    line-height: 1.15;
    margin: 0 auto;
    margin-bottom: desktop-vw(75px);
    text-align: center;
    width: desktop-vw(1150px);

    @include mobile {
      font-size: mobile-vw(45px);
      margin-bottom: mobile-vw(50px);
      width: auto;
    }

    .forestial {
      color: var(--forestial);
    }

    .a,
    .b {
      display: inline-block;
      position: relative;

      @include mobile {
        display: none;
      }

      .imgC {
        z-index: 100;
      }
    }

    .a {
      --width: #{desktop-vw(220px)};
      margin-left: desktop-vw(-20px);
      width: var(--width);

      @include mobile {
        --width: #{mobile-vw(120px)};
      }

      .imgC {
        @include position(absolute, 50%, auto, auto, 0);
        @include dims(var(--width), auto);
        transform: translate(0%, -70%) rotate(-16deg);
      }
    }

    .b {
      --width: #{desktop-vw(240px)};
      width: var(--width);

      @include mobile {
        --width: #{mobile-vw(120px)};
      }

      .imgC {
        @include position(absolute, 50%, 0, auto, auto);
        @include dims(var(--width), auto);
        transform: translate(0%, -70%);
        padding: 0 desktop-vw(10px);
      }
    }
  }

  > .imgC {
    @include dims(desktop-vw(1300px), desktop-vw(600px));
    border-radius: desktop-vw(9px);
    margin-bottom: desktop-vw(-400px);
    margin-top: desktop-vw(100px);
    overflow: hidden;

    @include mobile {
      @include dims(100%, auto);
      border-radius: mobile-vw(9px);
      margin-bottom: unset;
      margin-top: mobile-vw(50px);
    }
  }

  > .marquee {
    @include position(absolute, calc(100% + desktop-vw(240px)), auto, auto, 50%);
    transform: translateX(-50%);

    @include mobile {
      @include position(absolute, calc(100% + mobile-vw(25px)), auto, auto, 50%);
    }

    h5 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(150px);
      font-weight: 700;
      margin: 0 desktop-vw(60px);

      @include mobile {
        font-size: mobile-vw(75px);
        margin: 0 mobile-vw(30px);
      }
    }
  }
}

.mantis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: desktop-vw(50px);
  position: relative;
  z-index: 10;

  @include mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    margin-bottom: mobile-vw(50px);
  }

  &::after {
    content: "";
    @include position(absolute, auto, auto, desktop-vw(-75px), 50%);
    @include dims(85%, 1px);
    background: var(--cloudy-day);
    transform: translateX(-50%);

    @include mobile {
      @include position(absolute, auto, auto, mobile-vw(-55px), 50%);
    }
  }

  .chamaeleon {
    margin-left: desktop-vw(80px);
    margin-top: desktop-vw(100px);
    position: relative;

    @include mobile {
      margin: 0 auto;
      margin-top: mobile-vw(50px);
    }

    .imgC {
      &:nth-child(1) {
        @include dims(desktop-vw(510px));
        border-radius: desktop-vw(20px);
        overflow: hidden;

        @include mobile {
          @include dims(mobile-vw(340px));
          border-radius: mobile-vw(20px);
        }
      }

      &:nth-child(2) {
        @include position(absolute, desktop-vw(-90px), desktop-vw(50px), auto, auto);
        @include dims(desktop-vw(380px), auto);
        border-radius: desktop-vw(20px);
        overflow: hidden;
        transform: rotate(6deg);

        @include mobile {
          @include position(absolute, mobile-vw(-70px), mobile-vw(-20px), auto, auto);
          @include dims(mobile-vw(280px), auto);
          border-radius: mobile-vw(20px);
        }
      }
    }
  }

  .text {
    padding-top: desktop-vw(100px);

    @include mobile {
      margin: 0 mobile-vw(16px);
      padding-top: mobile-vw(50px);
      text-align: center;
    }

    > h2 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(25px);
      font-weight: 700;
      margin-bottom: desktop-vw(25px);

      @include mobile {
        font-size: mobile-vw(25px);
        margin-bottom: mobile-vw(25px);
      }
    }

    > h3 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(70px);
      font-weight: 700;
      line-height: 1.15;
      margin-bottom: desktop-vw(40px);
      width: desktop-vw(670px);

      @include mobile {
        font-size: mobile-vw(50px);
        margin-bottom: mobile-vw(40px);
        width: auto;
      }
    }

    > p {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(17px);
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: desktop-vw(50px);
      width: desktop-vw(480px);

      @include mobile {
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(50px);
        width: auto;
      }
    }
  }
}

.kin {
  margin-bottom: desktop-vw(50px);
  padding: desktop-vw(80px);

  @include mobile {
    margin-bottom: 0;
    padding: mobile-vw(50px) mobile-vw(16px);
  }

  > h4 {
    color: var(--nightly-woods);
    font-family: var(--font-first-aid-kit-f);
    font-size: desktop-vw(70px);
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      font-size: mobile-vw(50px);
      margin-bottom: mobile-vw(50px);
    }

    > span {
      display: block;

      @include mobile {
        display: inline;
      }

      &:nth-child(1) {
        margin-right: desktop-vw(240px);

        @include mobile {
          margin: unset;
        }
      }

      &:nth-child(2) {
        margin-left: desktop-vw(240px);

        @include mobile {
          margin: unset;
        }
      }
    }
  }

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    @include mobile {
      display: flex;
      flex-direction: column;
      grid-template-columns: unset;
    }

    .text {
      padding-top: desktop-vw(100px);

      @include mobile {
        align-items: center;
        display: flex;
        flex-direction: column;
        order: 2;
        padding-top: 0;
      }

      > p {
        color: var(--nightly-woods);
        font-family: var(--font-helvetica-neue);
        font-size: desktop-vw(20px);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: desktop-vw(50px);
        width: desktop-vw(460px);

        @include mobile {
          font-size: mobile-vw(20px);
          margin-bottom: mobile-vw(50px);
          text-align: center;
          width: auto;
        }

        strong {
          font-weight: 700;
        }
      }
    }

    .imgs {
      position: relative;

      @include mobile {
        margin-bottom: mobile-vw(25px);
        order: 1;
      }

      .imgC {
        &:nth-child(1) {
          @include dims(desktop-vw(520px), desktop-vw(240px));
          border-radius: desktop-vw(20px);
          overflow: hidden;

          @include mobile {
            @include dims(100%, mobile-vw(150px));
            border-radius: mobile-vw(12px);
            margin-bottom: mobile-vw(10px);
          }
        }

        &:nth-child(2) {
          @include position(absolute, desktop-vw(180px), auto, auto, desktop-vw(250px));
          @include dims(desktop-vw(380px), auto);
          border-radius: desktop-vw(20px);
          overflow: hidden;

          @include mobile {
            @include position(relative, auto, auto, auto, auto);
            @include dims(100%, mobile-vw(200px));
            border-radius: mobile-vw(12px);
          }
        }

        &:nth-child(3) {
          @include position(absolute, desktop-vw(210px), auto, auto, desktop-vw(-50px));
          @include dims(desktop-vw(240px), auto);
          transform: rotate(-10deg);

          @include mobile {
            @include position(absolute, mobile-vw(110px), auto, auto, mobile-vw(80px));
            @include dims(mobile-vw(160px), auto);
          }
        }
      }
    }
  }
}
