.cardInfo {
  @include dims(desktop-vw(1000px), auto);
  background-color: var(--greening);
  border-radius: desktop-vw(20px);
  column-gap: desktop-vw(50px);
  display: flex;
  justify-items: flex-start;
  padding: desktop-vw(20px);
  position: relative;

  @include mobile {
    @include dims(mobile-vw(350px), 95%);
    border-radius: mobile-vw(20px);
    row-gap: mobile-vw(10px);
    flex-direction: column;
    padding: mobile-vw(16px);
  }

  .close {
    @include position(absolute, desktop-vw(20px), desktop-vw(20px), auto, auto);
    @include dims(desktop-vw(20px));
    color: var(--nightly-woods);
    font-family: var(--font-helvetica-neue);
    font-size: desktop-vw(30px);
    font-weight: 900;

    @include mobile {
      @include position(absolute, mobile-vw(15px), mobile-vw(15px), auto, auto);
      font-size: mobile-vw(25px);
    }
  }

  > .imgC {
    @include dims(desktop-vw(390px), desktop-vw(500px));
    border-radius: desktop-vw(10px);
    flex-shrink: 0;
    overflow: hidden;

    @include mobile {
      @include dims(100%, mobile-vw(300px));
      border-radius: mobile-vw(10px);
      display: none;
    }
  }

  > .info {
    @include dims(desktop-vw(435px), auto);
    padding-top: desktop-vw(30px);
    display: flex;
    flex-direction: column;
    z-index: 10;

    @include mobile {
      @include dims(100%);
    }

    .title {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(30px);
      font-weight: 700;
      margin-bottom: desktop-vw(10px);

      @include mobile {
        font-size: mobile-vw(30px);
        margin-bottom: mobile-vw(10px);
      }
    }

    .role {
      color: var(--nightly-woods);
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(20px);
      font-weight: 400;
      margin-bottom: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(40px);
      }
    }

    .desc {
      @include dims(auto, desktop-vw(300px));
      color: var(--nightly-woods);
      display: flex;
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(14px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: auto;
      overflow-y: scroll;

      span {
        display: block;
        padding-right: desktop-vw(20px);
      }

      @include mobile {
        @include dims(auto, mobile-vw(450px));
        font-size: mobile-vw(14px);
      }
    }

    .iconC {
      @include dims(desktop-vw(30px));

      @include mobile {
        @include dims(mobile-vw(30px));
      }
    }
  }
}
