.blockText {
  column-gap: desktop-vw(22px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: desktop-vw(80px);
  padding: desktop-vw(40px) 0;

  @include mobile {
    column-gap: 0;
    grid-template-columns: 1fr;
    padding: mobile-vw(20px) 0;
  }

  > .text {
    color: var(--nightly-woods);
    column-gap: desktop-vw(20px);
    font-family: var(--font-helvetica-neue);
    grid-column: 6 / 13;
    padding-right: desktop-vw(200px);

    @include mobile {
      grid-column: 1 / 13;
      padding-right: 0;
      text-align: center;
    }

    h1 {
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(30px);
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: desktop-vw(20px);

      @include mobile {
        font-size: mobile-vw(32px);
        line-height: 1.25;
        margin-bottom: mobile-vw(30px);
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(25px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(60px);

      @include mobile {
        font-size: mobile-vw(17px);
        line-height: 1.8;
        margin-bottom: mobile-vw(40px);
      }
    }

    p {
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(16px);
      font-weight: 100;
      line-height: 1.6;
      margin-bottom: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(16px);
        line-height: 2;
        margin-bottom: mobile-vw(25px);
      }

      &:last-child {
        margin-bottom: 0;
      }

      em {
        font-style: italic;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
