// Helvetica Neue
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("/fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("/fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

// First Aid Kit F
@font-face {
  font-family: "FirstAidKitF";
  src: url("/fonts/FirstAidKitF-Bold.woff2") format("woff2"), url("/fonts/FirstAidKitF-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
