.newsAndEvents {
  column-gap: desktop-vw(60px);
  display: grid;
  grid-template-columns: desktop-vw(500px) auto;
  margin-bottom: desktop-vw(100px);
  padding: desktop-vw(50px) desktop-vw(40px);
  position: relative;

  @include mobile {
    column-gap: mobile-vw(60px);
    grid-template-columns: unset;
    margin-bottom: 0;
    padding: mobile-vw(50px) var(--mobile-padding-x);
  }

  &::before {
    content: "";
    @include position(absolute, 0, 0, auto, 50%);
    @include dims(calc(100% - desktop-vw(80px)), 1px);
    background: var(--black);
    transform: translateX(-50%);
  }

  .title {
    > h1 {
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(60px);
      font-weight: 700;
      margin-top: desktop-vw(200px);
      text-transform: uppercase;

      @include mobile {
        font-size: mobile-vw(40px);
        line-height: 1.15;
        margin-bottom: mobile-vw(50px);
        margin-top: 0;
        text-align: center;
      }
    }
  }

  .items {
    .filter {
      display: flex;
      align-items: flex-end;
      column-gap: desktop-vw(50px);

      @include mobile {
        align-items: stretch;
        flex-direction: column;
        row-gap: mobile-vw(20px);
      }
    }

    .loadingScreen {
      @include dims(100%, calc(100vh - var(--header-height)));
      color: var(--nightly-woods);
      font-family: var(--font-first-aid-kit-f);
      font-size: desktop-vw(40px);
    }

    .list {
      display: grid;
      column-gap: desktop-vw(12px);
      grid-template-columns: repeat(2, 1fr);
      margin: desktop-vw(100px) 0;
      row-gap: desktop-vw(48px);

      @include mobile {
        column-gap: mobile-vw(12px);
        grid-template-columns: repeat(1, 1fr);
        margin: mobile-vw(50px) 0;
        row-gap: mobile-vw(48px);
      }

      > div {
        &:nth-child(2n) {
          transform: translateY(desktop-vw(100px));

          @include mobile {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
